<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Laminas Http Cache Module Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
