<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <coverage>
        <exclude>
            <directory suffix=".php">vendor/</directory>
            <directory suffix=".php">test/</directory>
        </exclude>
    </coverage>

    <testsuites>
        <testsuite name="Laminas Http Cache Module Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
